@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
*, *::before, *::after {
  box-sizing: inherit;
  font-family: "Inter";
  font-weight: 700;
}

:root {
  box-sizing: border-box;
  --facebook-bg: #178ff5;
  --twitter-bg: #1da1f2;
  --instagram-bg: linear-gradient(90deg, rgba(253,195,102,1) 0%, rgba(238,135,126,1) 50%, rgba(223,72,150,1) 100%);
  --youtube-bg: #c4032b;
  --toggle-bg: #aeb2ca;
  --toggle-active-bg: linear-gradient(90deg, rgba(59,153,215,1) 0%, rgba(83,199,145,1) 100%);
  --count-increase-color: #1eb589;
  --count-decrease-color: #dc414c;
  /* theme */
  --bg: hsl(0, 0%, 100%);
  --header-bg: hsl(225, 100%, 98%);
  --card-bg: hsl(227, 47%, 96%);
  --card-active-bg: rgba(225,227,240,255);
  --normal-color: hsl(228, 12%, 44%);
  --bold-color: hsl(230, 17%, 14%);
}

/* global rules */
body {
  margin: 0;
  padding: 0;
  --global-padding: 1.5rem;
  min-height: 100vh;
  background-color: var(--bg);
}

header {
  padding: var(--global-padding);
  background-color: var(--header-bg);
}

main::before {
  content: "";
  width: 100%;
  height: 8em;
  background-color: var(--header-bg);
  position: absolute;
  z-index: 6;
  top: 0;
  left: 0;
}

main {
  padding: var(--global-padding);
  position: relative;
  z-index: 5;
}

section {
  position: relative;
  z-index: 7;
  margin-block-end: 3em;
}

/* toggle button */
.toggle-btn--light {
  position: absolute;
  top: 4px;
  left: 4px;
}

.toggle-btn--dark {
  position: absolute;
  top: 4px;
  right: 4px;
}

.toggle-btn {
  width: 3em;
  height: 1.5em;
  background-color: var(--toggle-bg);
  border-radius: 2em;
  position: relative;
}
.toggle-btn span {
  min-width: 1em;
  height: 1em;
  background-color: var(--header-bg);
  border-radius: 50%;
}

.toggle-btn:hover {
  cursor: pointer;
  background-image: var(--toggle-active-bg) !important;
}

/* card */
.card::before {
  content: "";
  width: 100%;
  height: 0.3em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  position: absolute;
  z-index: 6;
  top: 0;
  left: 0;
}

.card {
  min-height: 215px;
  background-color: var(--card-bg);
  border-radius: 0.5em;
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5em;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 5;
}

.card:hover {
  cursor: pointer;
  background-color: var(--card-active-bg);
}

.card--facebook::before {
  background-color: var(--facebook-bg);
}

.card--twitter::before {
  background-color: var(--twitter-bg);
}

.card--youtube::before {
  background-color: var(--youtube-bg);
}

.card--instagram::before {
  background-image: var(--instagram-bg);
}

/* user name */
.user-name {
  font-size: 0.8rem;
  color: var(--normal-color);
  min-height: 20px;
  padding-left: 30px;
  padding-block: 2px;
  background-repeat: no-repeat;
  background-position: top left;
}

.user-name--facebook {
  background-image: url("../../images/icon-facebook.svg");
}

.user-name--twitter {
  background-image: url("../../images/icon-twitter.svg");
}

.user-name--instagram {
  background-image: url("../../images/icon-instagram.svg");
}

.user-name--youtube {
  background-image: url("../../images/icon-youtube.svg");
}

.no-of-followers {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 4px;
  font-weight: normal;
  color: var(--normal-color);
}
.no-of-followers span {
  display: block;
  font-size: 3rem;
  color: var(--bold-color);
}

/* overview card */
.overview {
  --overview-padding: 1.5em;
  min-height: 125px;
  background-color: var(--card-bg);
  border-radius: 0.5em;
  padding: var(--overview-padding);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: top var(--overview-padding) right var(--overview-padding);
}
.overview h3 {
  margin: 0;
  font-size: 1rem;
  color: var(--normal-color);
}

.overview:hover {
  cursor: pointer;
  background-color: var(--card-active-bg);
}

.overview--facebook {
  background-image: url("../../images/icon-facebook.svg");
}

.overview--twitter {
  background-image: url("../../images/icon-twitter.svg");
}

.overview--instagram {
  background-image: url("../../images/icon-instagram.svg");
}

.overview--youtube {
  background-image: url("../../images/icon-youtube.svg");
}

.views {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

.views > span {
  font-size: 2rem;
  color: var(--bold-color);
}

/* view count */
.count {
  font-size: 0.8rem;
  padding-left: 1em;
  background-repeat: no-repeat;
  background-position: top 0.5em left;
}

.count--increase {
  color: var(--count-increase-color);
  background-image: url("../../images/icon-up.svg");
}

.count--decrease {
  color: var(--count-decrease-color);
  background-image: url("../../images/icon-down.svg");
}

/* mobile design */
.header-flex {
  display: flex;
  flex-flow: column nowrap;
  gap: 2.5em;
}

.header-title {
  position: relative;
}
.header-title h1 {
  font-size: 1.5rem;
  margin: 0;
  color: var(--bold-color);
}
.header-title p {
  font-size: 0.9rem;
  margin: 0;
  color: var(--normal-color);
}

.header-title::after {
  content: "";
  width: 100%;
  min-height: 0.1em;
  position: absolute;
  bottom: -1.2em;
  left: 0;
  background-color: #abb0c4;
}

.header-toggle {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.header-toggle p {
  margin: 0;
  color: var(--normal-color);
}

.card-grid {
  display: grid;
  gap: 1.5em;
  grid-template-columns: 20em;
  justify-content: center;
}

.overview-section h2 {
  font-size: 1.5rem;
  color: var(--normal-color);
  margin: 0;
}

.overview-grid {
  display: grid;
  gap: 1em;
  grid-template-columns: 20em;
  justify-content: center;
  margin-block: 1.75em;
}

/* tablet view */
@media only screen and (min-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(2, 20em);
  }

  .overview-grid {
    grid-template-columns: repeat(2, 20em);
  }
  .overview-grid h2 {
    grid-column: span 2;
  }
}
/* desktop view */
@media only screen and (min-width: 1400px) {
  .header-flex {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 1096px;
    margin-inline: auto;
  }

  .header-title::after {
    display: none;
  }

  .header-toggle {
    justify-content: flex-end;
    gap: 1em;
    align-items: center;
  }

  .card-grid {
    grid-template-columns: repeat(4, 16em);
  }

  .overview-grid {
    grid-template-columns: repeat(4, 16em);
  }
  .overview-grid h2 {
    grid-column: span 4;
  }
}

/*# sourceMappingURL=main.css.map */
